  <nav class="navbar navbar-expand-lg navbar-light  ">
      <div>
        <a class= "navbar-brand fw-bolder" id="n" >Jevelin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      
      </div>
      
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
        <li class="nav-item" ><a class="nav-link active" >Home</a></li>
        <li class= "nav-item"><a class= "nav-link active" >Shop</a></li>
        <li class= "nav-item"> <a class= "nav-link active">Decor</a></li>
        <li class= "nav-item"><a class="nav-link active">Plant</a></li>
        <li class= "nav-item"><a class="nav-link active">light</a></li>
        <li class= "nav-item"><a class="nav-link active">Chair</a></li>
        </ul>
      </div>

      <div class="collapse navbar-collapse float-end" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
          <li class="nav-item me-2" ><i class="fab fa-facebook" ></i></li>
          <li class="nav-item me-2"><i class="fab fa-twitter"></i></li>
          <li class="nav-item me-2"><i class="fab fa-instagram"></i></li>
          <li class="nav-item me-2"><i class="fas fa-search"></i></li>
          <li class="nav-item me-2"><i class="fas fa-shopping-cart"></i></li>
        </ul>
      </div>
  </nav>
    

